*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-size: 22px;
  background-color: #fff;
  color: hsl(210, 28%, 10%);
  font-family: "Roboto", sans-serif;

  height: 100%;
}

.body__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.header__content {
  display: flex;
  align-items: center;

  position: relative;
  height: 80px;
  padding: 20px 0;
}

.header__logo {
}
.header__search {
  flex: 1 1 auto;
  margin: 0 0px 0 60px;
  margin-right: calc(60px + 19px);
  width: 100%;
  border: 1px solid #ebebf1;

  border-radius: 5px;
}
.header__search_items {
  margin: 12px 14px;
  display: flex;
}
.header__search input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  letter-spacing: 0.01em;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
}
.header__search_item {
  display: flex;
  align-items: center;

  height: 16px;
}
.header__search_item.icon-Ellipse {
  font-size: 16px;
  color: #768298;
  margin: 0px 5px 0px 0px;
}

.search {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 5px;
}
.header__search input::placeholder {
  color: #bbc4d6;
}
.header__acc {
  display: flex;
  align-items: center;
  position: relative;
}
.header__acc::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 80px;
  left: -19px;
  top: calc(50% - 80px / 2);
  background: #ebebf1;
}

.header__acc_logo {
  background-color: tomato;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0px 0px 0px 10px;
}
.main {
  padding: 70px 0;
  flex: 1 1 auto;
}
.partners {
}
.partners__wrapper {
}
.partners__title {
}
.partners__title .title {
  text-transform: uppercase;
  font-weight: 500;
  color: #121920;
  font-size: 36px;
  line-height: 160%;
}

.partners__content {
  display: flex;
  flex-wrap: wrap;
}
.partners__content_item {
  width: 270px;
  height: 120px;
  border: 1px solid #ebebf1;

  border-radius: 5px;
  margin: 30px 30px 30px 0;
  transition: box-shadow 0.1s ease;
}
.partners__content_item:nth-child(4n) {
  margin: 30px 0px 30px 0;
}

.partners__content_item:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
  border-radius: 5px;
}
.partners__logo {
}
.partners__logo a {
  padding: 28px 18px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(/assets/images/cursor.png), pointer;
}
.partners__logo a img {
  max-width: 100%;
  max-height: 100%;
}
.footer {
}
